# Customer Cuhrn Data Analysis

In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine,text

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

plt.style.use('seaborn-v0_8-dark')

In [4]:
user = 'root'
password = '7003890541'
host = 'localhost'
port = '3306'
database = 'churn_final_project'

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

In [6]:
def sql(query,engine = engine):
    return pd.read_sql(query,engine)

In [7]:
query = '''
        select * from data limit 5
    '''
sql(query)

,id,age,gender,tenure,frequency,calls,payment_delay,subscription,contract,spend,last_interaction,churn
0,2.0,30.0,female,39.0,14.0,5.0,18.0,standard,annual,932.0,17.0,1.0
1,3.0,65.0,female,49.0,1.0,10.0,8.0,basic,monthly,557.0,6.0,1.0
2,4.0,55.0,female,14.0,4.0,6.0,18.0,basic,quarterly,185.0,3.0,1.0
3,5.0,58.0,male,38.0,21.0,7.0,7.0,standard,monthly,396.0,29.0,1.0
4,6.0,23.0,male,32.0,20.0,5.0,8.0,basic,monthly,617.0,20.0,1.0